.vscode/**
.vscode-test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
test/**
jest.config.js
*.test.js
test-*.mld
*.log
tsconfig.json.backup
src/**/*.ts
!src/**/*.js
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.map
node_modules/**/*.ts
node_modules/**/tsconfig.json
node_modules/**/.npmignore
**/*.tgz