.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
tsconfig.json
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
**/.eslintrc.json
node_modules/**
test/**
jest.config.js
*.test.ts
*.test.js
test-*.mld
*.log