<div class="terminal-window {{ example.className }}">
  <div class="title-bar">
    <div class="window-controls">
      <span class="window-control red"></span>
      <span class="window-control yellow"></span>
      <span class="window-control green"></span>
    </div>
    <div class="filename">{{ example.filename }}</div>
    <div class="spacer"></div>
  </div>
  <div class="terminal-content">{%- if example and example.code -%}
{% meld example.code %}
  {%- endif -%}
  {%- if example.output %}
<span class="space"></span>
  {%- endif %}
  </div>
</div>