<div class="terminal-window {{ example.className }}">
  <div class="title-bar">
    <span class="terminal-dot"></span>
    <span class="filename">{{ example.filename }}</span>
  </div>
  <div class="terminal-content">{%- if example and example.code -%}
{% meld example.code %}
  {%- endif -%}
  {%- if example.output %}
<span class="space"></span>
  {%- endif %}
  </div>
</div>
